body{
    background-image: url("Image.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(100%);
}

.login-card {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: auto;
  text-align: center;
}

.login-card input,
.login-card select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-card button {
  padding: 10px 20px;
  background-color: #0d47a1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-card button:hover {
  background-color: #1565c0;
}


#imagecss{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
}

#headerSection{
    padding: 5px;
    color: rgb(1, 0, 0);
}

#headerSection h1{
    font-family: Cursive;
}

input{
    padding: 10px;
    border-radius: 5px;
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 70%;
}

#loginbtn{
    padding: 5px;
    font-size: 15px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
}